{% extends "base.html" %}
{% block content %}
<main class="flex-shrink-0">
    <div class="album py-5 bg-light">
        <div class="container">
            {% for item in photos%}
                {% if id == item.id %}
                    <h1 class="text-center">{{item.filename}}</h1>
                    <img src="/static/userdata/{{ item.user_id }}-{{ item.user.name }}/{{ item.filename }}"
                    class="img-fluid" alt="Responsive image">
                {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}